@media (max-width: 700px) {
  .main-area {
    padding: 0 10px;
    text-align: center;
    h1 {
      font-size: 4rem;
      margin-bottom: 20px;
    }
    svg {
      display: none;
    }
  }
  .hero {
    .row {
      flex-wrap: wrap;
    }
  }
  .people-cards, .webcast-topics, .hero-inner, .presenter, .form-name {
    flex-flow: column;
    align-items: center;
  }
  .people-cards {
    .card {
      margin-bottom: 20px;
    }
  }
  .signup-form-area {
    width: 100%;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
  }
  .fname, .lname {
    padding: 0!important;
    width: 100%;
  }
  .webcast-topics {
    .topic {
      padding-bottom: 30px;
    }
  }
  .section-spacing {
    padding: 30px 20px;
  }
  .mailing-wrapper, .mailing-form form {
    flex-flow: column;
    text-align: center;
  }
  .mailing-form, .mailing-form input {
    width: 100%;
    margin-bottom: 15px;
  }
  .mailing-mail {
    padding: 0;
    margin-top: 20px;
  }
  .mailing-text {
    h3 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
