//GitLab Colors
$gl-orange-light: #FCA121;
$gl-orange-medium: #FC6D26;
$gl-orange-dark: #DB3B21;
$gl-purple-light: #6E49CB;
$gl-purple-medium: #380D75;
$gl-dark-gray: #2E2E2E;
$gl-light-gray: #EBEDF1;
$gl-link: #8C929D;

//Typography
$lato: 'Lato', Helvetica, Arial, sans-serif;
$source: 'Source Sans Pro', Helvetica, Arial, sans-serif;

//Effects
$normal-transition: all 0.4s ease-in-out;

// Mixins
@mixin link {
  text-decoration: none;
  color: $gl-link;
  transition: $normal-transition;
  &:hover {
    color: $gl-purple-medium;
  }
}
