@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: $source;
  background: $gl-light-gray;
  color: $gl-dark-gray;
}

.row {
  display: flex;
  flex-flow: row;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

//Header
.gitlab-header {
  justify-content: flex-end;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  img {
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -23px;
  }
  a {
    @include link;
  }
}

// Top hero area
.hero-wrapper {
  background: $gl-purple-medium; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $gl-purple-medium 0%, $gl-orange-medium 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $gl-purple-medium 0%,$gl-orange-medium 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $gl-purple-medium 0%,$gl-orange-medium 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 60px 0;
}
.hero-inner {
  color: #fff;
}
.main-area {
  flex: 65%;
  padding-right: 30px;
  h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 400;
  }
  h5 {
    font-size: 1.3rem;
    font-weight: 300;
  }
  h1 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 30px 0 -20px;
  }
  svg {
    mix-blend-mode: overlay;
    opacity: .5;
    margin-bottom: 10px;
  }
}
.presenter {
  max-width: 550px;
}
.presenter-quote {
  font-size: 1.15rem;
  font-weight: 400;
  blockquote {
    margin-bottom: 15px;
    font-weight: 300;
  }
}
.presenter-photo {
  img {
    border-radius: 100%;
    box-shadow: 0 2px 18px rgba(0,0,0,.3);
    margin-right: 15px;
  }
}

.signup-form-area {
  flex: 20%;
  font-weight: 300;
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
  }
}
.form-header {
  text-align: center;
  padding-bottom: 20px;
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
.form-name {
  .fname, .lname {
    flex: 50%;
  }
  .fname {
    padding-right: 10px;
  }
  .lname {
    padding-left: 10px;
  }
}
.form-send {
  button {
    width: 100%;
    border: none;
    padding: 14px;
    color: #fff;
    background: $gl-orange-light;
    cursor: pointer;
    font-size: 1rem;
    font-family: $lato;
    box-shadow: 0 2px 2px rgba(0,0,0,.17);
    transition: $normal-transition;
    margin-top: 10px;
    &:hover {
      background: darken($gl-orange-light, 10%);
    }
    &:active {
      background: $gl-purple-medium;
    }
  }
}

.section-spacing {
  padding: 50px 0;
}
.section-header {
  text-align: center;
  padding-bottom: 20px;
  h2 {
    font-size: 2.3rem;
    font-weight: 400;
  }
  h4 {
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
}
.webcast-topics {
  justify-content: space-between;
}
.topic {
  max-width: 300px;
  text-align: center;
  h3 {
    color: $gl-purple-light;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px;
    &:before {
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      border: 2px solid $gl-purple-light;
      margin: 0 auto 10px auto;
      border-radius: 100%;
      padding-top: 2px;
      text-align: center;
    }
  }
  &:nth-child(1) h3:before { content: "1"; }
  &:nth-child(2) h3:before { content: "2"; }
  &:nth-child(3) h3:before { content: "3"; }
}

.people {
  background: #fff;
  .section-header {
    h2 {
      color: $gl-link;
      margin-bottom: 20px;
    }
  }
}
.people-cards {
  justify-content: space-between;
}
.card {
  max-width: 350px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,.13);
  transition: $normal-transition;
  &:hover {
    box-shadow: 0 5px 16px rgba(0,0,0,.1);
    transform: translateY(-2px);
  }
  .people-photo {
    margin-right: 10px;
    img {
      border-radius: 100%;
    }
  }
  .people-mention {
    h4 {
      margin-bottom: 10px;
    }
    p {
      font-style: italic;
    }
  }
}

.mailing-text {
  flex: 60%;
}
.mailing-text {
  h3 {
    color: $gl-purple-light;
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    font-weight: 300;
  }
}
.mailing-form {
  flex: 40%;
  input {
    width: 270px;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 10px;
    font-size: 1rem;
  }
  button {
    width: 100%;
    border: none;
    padding: 8px 30px;
    color: $gl-orange-dark;
    border: 1px solid $gl-orange-dark;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: $lato;
    transition: $normal-transition;
    &:hover {
      background: $gl-orange-dark;
      color: #fff;
    }
    &:active {
      background: $gl-orange-dark;
      color: #fff;
    }
  }
}
.mailing-mail {
  padding-right: 15px;
  max-width: 500px;
}
.mailing-wrapper {
  align-items: center;
}

footer {
  background: $gl-purple-medium;
  padding: 15px 0;
  a {
    display: block;
    margin: 0 auto;
  }
}

@import "responsive";
