<svg viewBox="0 0 620 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <title>git-illustration</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0.11619566 0.346309479 67.9793004 0.346309479 67.9793004 18.5848136 0.11619566 18.5848136 0.11619566 0.346309479"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD" transform="translate(-137.000000, -385.000000)">
            <g id="Group-14" transform="translate(137.000000, 385.000000)">
                <g id="git-illustration">
                    <path d="M1.65429688,46.7169413 C0.954674233,46.7169413 0.488259139,47.1775329 0.488259139,47.8713062 C0.488259139,48.5639251 0.954674233,49.0256711 1.65429688,49.0256711 L348.779856,49.0256711 C349.479478,49.0256711 349.945894,48.5639251 349.945894,47.8713062 C349.945894,47.1775329 349.479478,46.7169413 348.779856,46.7169413 L1.65429688,46.7169413 Z" id="Fill-1" fill="#FFFFFF"></path>
                    <path d="M385.393324,46.7169413 L370.001626,46.7169413 C369.302003,46.7169413 368.835588,47.1775329 368.835588,47.8713062 C368.835588,48.5639251 369.302003,49.0256711 370.001626,49.0256711 L385.393324,49.0256711 C386.092947,49.0256711 386.559362,48.5639251 386.559362,47.8713062 C386.559362,47.1775329 386.092947,46.7169413 385.393324,46.7169413" id="Fill-3" fill="#FFFFFF"></path>
                    <path d="M405.915705,49.0256711 L413.028535,49.0256711 C413.728158,49.0256711 414.194573,48.5639251 414.194573,47.8713062 C414.194573,47.1775329 413.728158,46.7169413 413.028535,46.7169413 L405.915705,46.7169413 C405.216082,46.7169413 404.749667,47.1775329 404.749667,47.8713062 C404.749667,48.5639251 405.216082,49.0256711 405.915705,49.0256711" id="Fill-5" fill="#FFFFFF"></path>
                    <path d="M432.617852,46.7169413 C431.91823,46.7169413 431.451815,47.1775329 431.451815,47.8713062 C431.451815,48.5639251 431.91823,49.0256711 432.617852,49.0256711 L544.790683,49.0256711 C545.373702,49.0256711 545.95672,48.5639251 545.95672,47.8713062 C545.95672,47.1775329 545.490305,46.7169413 544.790683,46.7169413 L432.617852,46.7169413 Z" id="Fill-7" fill="#FFFFFF"></path>
                    <path d="M564.846415,46.7169413 C564.146792,46.7169413 563.680377,47.1775329 563.680377,47.8713062 C563.680377,48.5639251 564.146792,49.0256711 564.846415,49.0256711 L573.358491,49.0256711 C574.058113,49.0256711 574.524528,48.5639251 574.524528,47.8713062 C574.524528,47.1775329 574.058113,46.7169413 573.358491,46.7169413 L564.846415,46.7169413 Z" id="Fill-9" fill="#FFFFFF"></path>
                    <path d="M606.823774,46.7169413 L593.647547,46.7169413 C592.947925,46.7169413 592.481509,47.1775329 592.481509,47.8713062 C592.481509,48.5639251 592.947925,49.0256711 593.647547,49.0256711 L606.823774,49.0256711 C607.406792,49.0256711 607.989811,48.5639251 607.989811,47.8713062 C607.989811,47.1775329 607.523396,46.7169413 606.823774,46.7169413" id="Fill-11" fill="#FFFFFF"></path>
                    <path d="M614.053441,46.7169413 L611.25495,46.7169413 C610.555328,46.7169413 610.088912,47.1775329 610.088912,47.8713062 C610.088912,48.5639251 610.555328,49.0256711 611.25495,49.0256711 L614.053441,49.0256711 C614.63646,49.0256711 615.219478,48.5639251 615.219478,47.8713062 C615.219478,47.1775329 614.753063,46.7169413 614.053441,46.7169413" id="Fill-13" fill="#FFFFFF"></path>
                    <path d="M618.833729,46.7169413 L617.551088,46.7169413 C616.851465,46.7169413 616.38505,47.1775329 616.38505,47.8713062 C616.38505,48.5639251 616.851465,49.0256711 617.551088,49.0256711 L618.833729,49.0256711 C619.534518,49.0256711 619.999767,48.5639251 619.999767,47.8713062 C619.999767,47.1775329 619.534518,46.7169413 618.833729,46.7169413" id="Fill-15" fill="#FFFFFF"></path>
                    <path d="M359.274195,52.257662 C356.825516,52.257662 354.843252,50.2952417 354.843252,47.8710753 C354.843252,45.446909 356.825516,43.4844886 359.274195,43.4844886 C361.722875,43.4844886 363.705139,45.446909 363.705139,47.8710753 C363.705139,50.2952417 361.722875,52.257662 359.274195,52.257662 M359.274195,41.1757587 C355.542875,41.1757587 352.511177,44.1771075 352.511177,47.8710753 C352.511177,51.5650431 355.542875,54.5663919 359.274195,54.5663919 C363.005516,54.5663919 366.037214,51.5650431 366.037214,47.8710753 C366.037214,44.1771075 363.005516,41.1757587 359.274195,41.1757587" id="Fill-17" fill="#FFFFFF"></path>
                    <path d="M430.285777,41.7534029 C430.518985,41.7534029 430.868796,41.6368121 431.102003,41.4059391 L441.829551,30.7869361 C444.861249,27.7844329 448.825777,26.1694764 453.023513,26.1694764 L466.083135,26.1694764 C466.782758,26.1694764 467.249173,25.7077304 467.249173,25.0151114 C467.249173,24.3213381 466.782758,23.8607465 466.083135,23.8607465 L453.023513,23.8607465 C448.126154,23.8607465 443.578607,25.8220125 440.197098,29.1708252 L429.469551,39.7909825 C429.003135,40.2515741 429.003135,40.9453475 429.469551,41.4059391 C429.702758,41.6368121 429.935966,41.7534029 430.285777,41.7534029" id="Fill-19" fill="#FFFFFF"></path>
                    <path d="M486.721887,26.1694764 L493.951321,26.1694764 C494.650943,26.1694764 495.117358,25.7077304 495.117358,25.0151114 C495.117358,24.3213381 494.650943,23.8607465 493.951321,23.8607465 L486.721887,23.8607465 C486.022264,23.8607465 485.555849,24.3213381 485.555849,25.0151114 C485.555849,25.7077304 486.022264,26.1694764 486.721887,26.1694764" id="Fill-21" fill="#FFFFFF"></path>
                    <path d="M548.638024,41.8683777 C548.871232,41.8683777 549.221043,41.7529412 549.454251,41.5220682 C549.921832,41.0603222 549.921832,40.3677033 549.454251,39.9059573 L538.6101,29.1703634 C535.22859,25.7072686 530.682209,23.8602848 525.783685,23.8602848 L513.540288,23.8602848 C512.841832,23.8602848 512.374251,24.3220307 512.374251,25.0146497 C512.374251,25.7072686 512.841832,26.1690146 513.540288,26.1690146 L525.783685,26.1690146 C529.98142,26.1690146 533.945949,27.7851255 536.977647,30.7864743 L547.822964,41.5220682 C548.055005,41.7529412 548.288213,41.8683777 548.638024,41.8683777" id="Fill-23" fill="#FFFFFF"></path>
                    <g id="Group-27" transform="translate(509.226415, 0.311240)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-26"></g>
                        <path d="M1.28310792,18.5848136 C1.51514943,18.5848136 1.86612679,18.4693771 2.0981683,18.2385042 L13.1755268,7.27203732 C16.2083909,4.27184286 20.1717532,2.65457759 24.3706551,2.65457759 L66.8132626,2.65457759 C67.5140513,2.65457759 67.9793004,2.19398599 67.9793004,1.50021266 C67.9793004,0.80874807 67.5140513,0.345847733 66.8132626,0.345847733 L24.3706551,0.345847733 C19.4732966,0.345847733 14.9245834,2.30826812 11.54424,5.65708078 L0.466881509,16.6235476 C-0.000699622642,17.0841392 -0.000699622642,17.7779126 0.466881509,18.2385042 C0.700089057,18.4693771 0.932130566,18.5848136 1.28310792,18.5848136" id="Fill-25" fill="#FFFFFF" mask="url(#mask-2)"></path>
                    </g>
                    <path d="M582.336981,3.08217774 L585.252075,3.08217774 C585.951698,3.08217774 586.418113,2.62043177 586.418113,1.92781281 C586.418113,1.23403949 585.951698,0.773447883 585.252075,0.773447883 L582.336981,0.773447883 C581.637358,0.773447883 581.170943,1.23403949 581.170943,1.92781281 C581.170943,2.62043177 581.637358,3.08217774 582.336981,3.08217774" id="Fill-28" fill="#FFFFFF"></path>
                    <path d="M594.813818,1.92781281 C594.813818,1.23403949 594.347403,0.773447883 593.64778,0.773447883 L592.015328,0.773447883 C591.315705,0.773447883 590.84929,1.23403949 590.84929,1.92781281 C590.84929,2.62043177 591.315705,3.08217774 592.015328,3.08217774 L593.64778,3.08217774 C594.230799,3.08217774 594.813818,2.62043177 594.813818,1.92781281" id="Fill-30" fill="#FFFFFF"></path>
                    <path d="M452.323774,70.0353437 L426.55434,70.0353437 C422.356604,70.0353437 418.392075,68.4192328 415.360377,65.417884 L404.283019,54.4514172 C403.816604,53.9896712 403.116981,53.9896712 402.650566,54.4514172 C402.184151,54.9120088 402.184151,55.6057821 402.650566,56.0663737 L413.727925,67.0328405 C417.109434,70.4959353 421.656981,72.3440736 426.55434,72.3440736 L452.323774,72.3440736 C453.023396,72.3440736 453.489811,71.8823276 453.489811,71.1897087 C453.489811,70.4959353 453.023396,70.0353437 452.323774,70.0353437" id="Fill-32" fill="#FFFFFF"></path>
                    <path d="M479.49222,70.0353437 L473.079012,70.0353437 C472.379389,70.0353437 471.912974,70.4959353 471.912974,71.1897087 C471.912974,71.8823276 472.379389,72.3440736 473.079012,72.3440736 L479.49222,72.3440736 C480.075238,72.3440736 480.658257,71.8823276 480.658257,71.1897087 C480.658257,70.4959353 480.191842,70.0353437 479.49222,70.0353437" id="Fill-34" fill="#FFFFFF"></path>
                    <path d="M506.777969,70.0353437 L499.781743,70.0353437 C499.080954,70.0353437 498.615705,70.4959353 498.615705,71.1897087 C498.615705,71.8823276 499.080954,72.3440736 499.781743,72.3440736 L506.777969,72.3440736 C507.477592,72.3440736 507.944007,71.8823276 507.944007,71.1897087 C507.944007,70.4959353 507.477592,70.0353437 506.777969,70.0353437" id="Fill-36" fill="#FFFFFF"></path>
                    <path d="M575.923774,54.5663919 L564.963019,65.4174223 C561.931321,68.4187711 557.966792,70.034882 553.769057,70.034882 L526.36717,70.034882 C525.667547,70.034882 525.201132,70.496628 525.201132,71.1892469 C525.201132,71.8818659 525.667547,72.3436118 526.36717,72.3436118 L553.769057,72.3436118 C558.666415,72.3436118 563.213962,70.3811915 566.595472,67.0335332 L577.556226,56.1825028 C578.022642,55.7207568 578.022642,55.0281379 577.556226,54.5663919 C577.089811,54.1046459 576.390189,54.1046459 575.923774,54.5663919" id="Fill-38" fill="#FFFFFF"></path>
                    <path d="M555.168535,43.4849503 C557.617214,43.4849503 559.714916,45.4462163 559.599478,47.8715371 C559.599478,50.294549 557.617214,52.2581238 555.168535,52.2581238 C552.71869,52.2581238 550.737592,50.294549 550.737592,47.8715371 C550.737592,45.4462163 552.71869,43.4849503 555.168535,43.4849503 M555.168535,54.5668537 C558.899856,54.5668537 562.046992,51.5655048 561.931554,47.8715371 C561.931554,44.1775693 558.899856,41.1762205 555.168535,41.1762205 C551.437214,41.1762205 548.405516,44.1775693 548.405516,47.8715371 C548.405516,51.5655048 551.437214,54.5668537 555.168535,54.5668537" id="Fill-40" fill="#FFFFFF"></path>
                    <path d="M583.503019,52.257662 C581.05434,52.257662 579.072075,50.2952417 579.072075,47.8710753 C579.072075,45.446909 581.05434,43.4844886 583.503019,43.4844886 C585.951698,43.4844886 587.933962,45.446909 587.933962,47.8710753 C587.933962,50.2952417 585.951698,52.257662 583.503019,52.257662 M583.503019,41.1757587 C579.771698,41.1757587 576.74,44.1771075 576.74,47.8710753 C576.74,51.5650431 579.771698,54.5663919 583.503019,54.5663919 C587.23434,54.5663919 590.266038,51.5650431 590.266038,47.8710753 C590.266038,44.1771075 587.23434,41.1757587 583.503019,41.1757587" id="Fill-42" fill="#FFFFFF"></path>
                    <path d="M476.577125,20.3976517 C479.025805,20.3976517 481.008069,22.3589177 481.008069,24.7842384 C481.008069,27.2072504 479.025805,29.1708252 476.577125,29.1708252 C474.128446,29.1708252 472.146182,27.2072504 472.146182,24.7842384 C472.146182,22.3589177 474.128446,20.3976517 476.577125,20.3976517 M476.577125,31.479555 C480.308446,31.479555 483.340144,28.4782062 483.340144,24.7842384 C483.340144,21.0902707 480.308446,18.0889218 476.577125,18.0889218 C472.845805,18.0889218 469.814106,21.0902707 469.814106,24.7842384 C469.814106,28.4782062 472.845805,31.479555 476.577125,31.479555" id="Fill-44" fill="#FFFFFF"></path>
                    <path d="M503.395993,20.3976517 C505.845838,20.3976517 507.826937,22.3589177 507.826937,24.7842384 C507.826937,27.2072504 505.845838,29.1708252 503.395993,29.1708252 C500.947314,29.1708252 498.96505,27.2072504 498.96505,24.7842384 C498.96505,22.3589177 500.947314,20.3976517 503.395993,20.3976517 M503.395993,31.479555 C507.127314,31.479555 510.159012,28.4782062 510.159012,24.7842384 C510.159012,21.0902707 507.127314,18.0889218 503.395993,18.0889218 C499.664672,18.0889218 496.632974,21.0902707 496.632974,24.7842384 C496.632974,28.4782062 499.664672,31.479555 503.395993,31.479555" id="Fill-46" fill="#FFFFFF"></path>
                    <path d="M462.468535,75.3449607 C460.019856,75.3449607 458.037592,73.3825403 458.037592,70.9583739 C458.037592,68.5342076 460.019856,66.5717872 462.468535,66.5717872 C464.917214,66.5717872 466.899478,68.5342076 466.899478,70.9583739 C466.899478,73.3825403 464.917214,75.3449607 462.468535,75.3449607 M462.468535,64.2630573 C458.737214,64.2630573 455.705516,67.2644061 455.705516,70.9583739 C455.705516,74.6523417 458.737214,77.6536905 462.468535,77.6536905 C466.199856,77.6536905 469.231554,74.6523417 469.231554,70.9583739 C469.231554,67.2644061 466.199856,64.2630573 462.468535,64.2630573" id="Fill-48" fill="#FFFFFF"></path>
                    <path d="M489.287403,75.3449607 C486.837558,75.3449607 484.85646,73.3825403 484.85646,70.9583739 C484.85646,68.5342076 486.837558,66.5717872 489.287403,66.5717872 C491.736082,66.5717872 493.833784,68.5342076 493.718346,70.9583739 C493.718346,73.3825403 491.736082,75.3449607 489.287403,75.3449607 M489.287403,64.2630573 C485.556082,64.2630573 482.524384,67.2644061 482.524384,70.9583739 C482.524384,74.6523417 485.556082,77.6536905 489.287403,77.6536905 C493.018724,77.6536905 496.16586,74.6523417 496.050422,70.9583739 C496.050422,67.2644061 493.018724,64.2630573 489.287403,64.2630573" id="Fill-50" fill="#FFFFFF"></path>
                    <path d="M516.222408,75.3449607 C513.773729,75.3449607 511.791465,73.3825403 511.791465,70.9583739 C511.791465,68.5342076 513.773729,66.5717872 516.222408,66.5717872 C518.672254,66.5717872 520.653352,68.5342076 520.653352,70.9583739 C520.653352,73.3825403 518.672254,75.3449607 516.222408,75.3449607 M516.222408,64.2630573 C512.491088,64.2630573 509.459389,67.2644061 509.459389,70.9583739 C509.459389,74.6523417 512.491088,77.6536905 516.222408,77.6536905 C519.953729,77.6536905 522.985427,74.6523417 522.985427,70.9583739 C522.985427,67.2644061 519.953729,64.2630573 516.222408,64.2630573" id="Fill-52" fill="#FFFFFF"></path>
                    <path d="M396.004384,52.257662 C393.555705,52.257662 391.573441,50.2952417 391.573441,47.8710753 C391.573441,45.446909 393.555705,43.4844886 396.004384,43.4844886 C398.453063,43.4844886 400.551931,45.446909 400.435328,47.8710753 C400.435328,50.2952417 398.453063,52.257662 396.004384,52.257662 M396.004384,41.1757587 C392.273063,41.1757587 389.241365,44.1771075 389.241365,47.8710753 C389.241365,51.5650431 392.273063,54.5663919 396.004384,54.5663919 C399.735705,54.5663919 402.884007,51.5650431 402.767403,47.8710753 C402.767403,44.1771075 399.735705,41.1757587 396.004384,41.1757587" id="Fill-54" fill="#FFFFFF"></path>
                    <path d="M422.939389,43.4849503 C425.388069,43.4849503 427.370333,45.4462163 427.370333,47.8715371 C427.370333,50.294549 425.388069,52.2581238 422.939389,52.2581238 C420.49071,52.2581238 418.508446,50.294549 418.508446,47.8715371 C418.508446,45.4462163 420.49071,43.4849503 422.939389,43.4849503 M422.939389,54.5668537 C426.67071,54.5668537 429.702408,51.5655048 429.702408,47.8715371 C429.702408,44.1775693 426.67071,41.1762205 422.939389,41.1762205 C419.208069,41.1762205 416.176371,44.1775693 416.176371,47.8715371 C416.176371,51.5655048 419.208069,54.5668537 422.939389,54.5668537" id="Fill-56" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
