* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background: #EBEDF1;
  color: #2E2E2E; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.gitlab-header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding: 15px 20px;
  background: #fff; }
  .gitlab-header img {
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -23px; }
  .gitlab-header a {
    text-decoration: none;
    color: #8C929D;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .gitlab-header a:hover {
      color: #380D75; }

.hero-wrapper {
  background: #380D75;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #380D75 0%, #FC6D26 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 60px 0; }

.hero-inner {
  color: #fff; }

.main-area {
  -webkit-box-flex: 65%;
      -ms-flex: 65%;
          flex: 65%;
  padding-right: 30px; }
  .main-area h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 400; }
  .main-area h5 {
    font-size: 1.3rem;
    font-weight: 300; }
  .main-area h1 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 30px 0 -20px; }
  .main-area svg {
    mix-blend-mode: overlay;
    opacity: .5;
    margin-bottom: 10px; }

.presenter {
  max-width: 550px; }

.presenter-quote {
  font-size: 1.15rem;
  font-weight: 400; }
  .presenter-quote blockquote {
    margin-bottom: 15px;
    font-weight: 300; }

.presenter-photo img {
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
  margin-right: 15px; }

.signup-form-area {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  font-weight: 300; }
  .signup-form-area label {
    display: block;
    margin-bottom: 5px; }
  .signup-form-area input {
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px; }

.form-header {
  text-align: center;
  padding-bottom: 20px; }
  .form-header h3 {
    font-size: 1.5rem; }
  .form-header h4 {
    font-size: 1.2rem;
    font-weight: 400; }

.form-name .fname, .form-name .lname {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%; }
.form-name .fname {
  padding-right: 10px; }
.form-name .lname {
  padding-left: 10px; }

.form-send button {
  width: 100%;
  border: none;
  padding: 14px;
  color: #fff;
  background: #FCA121;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 10px; }
  .form-send button:hover {
    background: #e78803; }
  .form-send button:active {
    background: #380D75; }

.section-spacing {
  padding: 50px 0; }

.section-header {
  text-align: center;
  padding-bottom: 20px; }
  .section-header h2 {
    font-size: 2.3rem;
    font-weight: 400; }
  .section-header h4 {
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 20px; }

.webcast-topics {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.topic {
  max-width: 300px;
  text-align: center; }
  .topic h3 {
    color: #6E49CB;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px; }
    .topic h3:before {
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      border: 2px solid #6E49CB;
      margin: 0 auto 10px auto;
      border-radius: 100%;
      padding-top: 2px;
      text-align: center; }
  .topic:nth-child(1) h3:before {
    content: "1"; }
  .topic:nth-child(2) h3:before {
    content: "2"; }
  .topic:nth-child(3) h3:before {
    content: "3"; }

.people {
  background: #fff; }
  .people .section-header h2 {
    color: #8C929D;
    margin-bottom: 20px; }

.people-cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card {
  max-width: 350px;
  padding: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .card:hover {
    -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .card .people-photo {
    margin-right: 10px; }
    .card .people-photo img {
      border-radius: 100%; }
  .card .people-mention h4 {
    margin-bottom: 10px; }
  .card .people-mention p {
    font-style: italic; }

.mailing-text {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%; }

.mailing-text h3 {
  color: #6E49CB;
  font-size: 1.5rem;
  font-weight: 400; }
.mailing-text p {
  font-weight: 300; }

.mailing-form {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%; }
  .mailing-form input {
    width: 270px;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 10px;
    font-size: 1rem; }
  .mailing-form button {
    width: 100%;
    border: none;
    padding: 8px 30px;
    color: #DB3B21;
    border: 1px solid #DB3B21;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .mailing-form button:hover {
      background: #DB3B21;
      color: #fff; }
    .mailing-form button:active {
      background: #DB3B21;
      color: #fff; }

.mailing-mail {
  padding-right: 15px;
  max-width: 500px; }

.mailing-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

footer {
  background: #380D75;
  padding: 15px 0; }
  footer a {
    display: block;
    margin: 0 auto; }
