---
title: Webcast - Version Control for Designers by GitLab
---
<section class="gitlab-header row">
  <%= image_tag 'gitlab-symbol.svg', :width => '46', :class => 'logo' %>
  <%= link_to 'Visit GitLab', 'https://about.gitlab.com/' %>
</section>

<section class="hero hero-wrapper">
  <div class="hero-inner container row">

    <div class="main-area">
      <h4>Free webcast</h4>
      <h5>Wednesday, Dec. 8th @ 6pm Pacific, 9pm Eastern</h5>
      <h1>Version control for designers</h1>
      <%= partial "partials/git-illustration" %>

      <div class="presenter row">
        <div class="presenter-photo">
          <%= image_tag 'luke.png', :width => '125px', :class => 'luke' %>
        </div>
        <div class="presenter-quote">
          <blockquote>“Version control is an essential tool if you want to be successful in today's web & software world. In this webcast I’ll will take you from novice to master. Easily.”</blockquote>
          <span class="presenter-name">Luke Babb - Designer @ GitLab</span>
        </div>
      </div>

    </div>

    <div class="signup-form-area">
      <div class="form-header">
        <h3>Too busy to remember?</h3>
        <h4>Sign up for a friendly reminder</h4>
      </div>
      <form action="" name="" class="signup-form">
        <div class="row form-name">
          <div class="fname">
            <label for="first-name">First name</label>
            <input type="text" name="first-name" value="">
          </div>
          <div class="lname">
            <label for="first-name">Last name</label>
            <input type="text" name="last-name" value="">
          </div>
        </div>
        <div class="form-email">
          <label for="email">Email</label>
          <input type="text" name="email" value="">
        </div>
        <div class="form-company">
          <label for="company">Company</label>
          <input type="text" name="company" value="">
        </div>
        <div class="form-country">
          <label for="country">Country</label>
          <input type="text" name="country" value="">
        </div>
        <div class="form-send">
          <button>Send me a reminder</button>
        </div>
      </form>
    </div>

  </div>
</section>

<section class="learn section-spacing">
  <div class="section-header">
    <h2>What you'll learn</h2>
    <h4>From installing Git and the basics of version control to advanced topics</h4>
  </div>
  <div class="webcast-topics container row">
    <div class="topic">
      <h3>The Basic Workflow of Version Control</h3>
      <p>Which steps are typically involved when using version control?</p>
    </div>
    <div class="topic">
      <h3>The six commands to learn + solving conflicts</h3>
      <p>You don’t need to be a genius to learn git. You just need to know six commands.</p>
    </div>
    <div class="topic">
      <h3>Using GitLab to deploy your code for the first time</h3>
      <p>Publishing and keeping your code up-to-date using GitLab is the best way to use all Git’s power.</p>
    </div>
  </div>
</section>

<section class="people section-spacing">
  <div class="section-header">
    <h2>What people are saying</h2>
  </div>
  <div class="people-cards container row">
    <div class="card row">
      <div class="people-photo">
        <%= image_tag 'people1.png', :width => '80px', :class => 'people' %>
      </div>
      <div class="people-mention">
        <h4>@design_max12</h4>
        <p>Most useful webcast I’ve ever attended. No longer afraid of Git and using it in my advantage now!</p>
      </div>
    </div>
    <div class="card row">
      <div class="people-photo">
        <%= image_tag 'people2.png', :width => '80px', :class => 'people' %>
      </div>
      <div class="people-mention">
        <h4>@maryux</h4>
        <p>It was amazing to make my first commit. It feels like I no longer have to worry about working with shared code</p>
      </div>
    </div>
    <div class="card row">
      <div class="people-photo">
        <%= image_tag 'people3.png', :width => '80px', :class => 'people' %>
      </div>
      <div class="people-mention">
        <h4>@andrew77</h4>
        <p>Watched @luke webcast and his introduction to Git for designers made me want to learn more!!</p>
      </div>
    </div>
  </div>
</section>

<section class="mailing section-spacing">
  <div class="mailing-wrapper container row">
    <div class="mailing-text">
      <h3>Sign up for news and free content</h3>
      <p>Want to know about upcoming webcasts and other valuable free content?</p>
      <p>Don’t worry, we send messages very ocasionally. We hate spam.</p>
    </div>
    <div class="mailing-form">
      <form action="" class="row">
        <div class="mailing-mail">
          <input type="email" placeholder="Your email">
        </div>
        <div class="mailing-button">
          <button>Sign up now</button>
        </div>
      </form>
    </div>
  </div>
</section>

<footer class="row">
  <a href="https://about.gitlab.com/"><%= image_tag 'gitlab-logo-footer.svg', :width => '95px', :class => 'GitLab' %></a>
</footer>
